body{
    color:white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    text-decoration: none;
    
}

nav a:hover{
    color:greenyellow;  
     
   }

nav a:visited {
    color:white;
    text-decoration: none;
      }   

ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green;
}

.titulo{
    text-align: center;

}

h1{
    color:green;
}

footer img{
    width: 20px;
    height: 40px;
    }

.viagem img{
    padding-bottom: 50px;
}

.viagem h1{

    color:red;
    position: relative;
    left: 50px;
    
}

.mar { 
    position: relative;
    left: 60px;
    width: 600px;
    height: 400px;
    border-radius: 1%;
    border: 5px solid black;
}

.praia{
    position: relative;
    left: 15%;
    width: 600px;
    height: 400px;
    border-radius: 10%;
    border: 5px solid black;

}

.sapo{
    text-align: center;
}
.sapo img{
    position: relative;
    width: 600px;
    height: 400px;
    border-radius: 40%;
    border: 5px solid black;
}


{
    width: 400px;
    height: 400px;

}



.container{
    padding: 0px 50px;

}


footer{
    display: flex;
    justify-content: center;
}

footer p{
    margin-top: 2px;
}